{% extends "../base.html" %}

{% block header %}
<h1>Colegio {{school.name}} {{school.ugel_num}}</h1>
{% endblock %}

{% block wraper %}
<div>
	<h2>Intranet Alumno</h2>

	{% block content %}
	<ul>
		{% for c in courses %}
		<li>
			<a href="{% url 'intranet:dc_gradocurso_detail' grade.pk c.pk %}">{{ c.name }}</a>
		</li>
		{% endfor %}
	</ul>
	{% endblock %}

	<div>
		<h3>Acciones</h3>
		<ul>
			<li><a href="{% url 'intranet:st_view' %}">Mis Cursos</a></li>
			<li><a href="{% url 'intranet:st_detail' student.pk %}">Mis Notas</a></li>
		</ul>
	</div>
</div>
{% endblock %}